@import "./utilities/variables";
@import "./utilities/mixins";


@import "./base/reset";

@import "./layout/header";
@import "./layout/index";
@import "./layout/registro";
@import "./layout/productos";
@import "./layout/footer";



