.container-pie-pagina{
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: black;
    position: relative;
    width: 100%;
    height: 9.375rem;
    padding-bottom: 1.25rem;
 
    .redes{
        justify-content: right;
           text-align: right;
           padding-right: 1.25rem;
           padding-top: 1.25rem;   
    }

}

