header {
    display: flex;
    background-color: rgb(4, 4, 58);
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
   border-bottom: 3px solid  blue;
   border-radius: 0px 20px 20px;
    align-items: center;
    justify-content: space-between;
         div{
              img{
        width: 6.25rem;
       height: 6.25rem;
       margin-top: 1.25rem;
       margin-left: 1.25rem; 
      
    }
        .navbar {
          
               li {
            text-indent: 15px;
        
                     a{
            list-style: none;
            text-transform: capitalize;
            text-decoration: none;
            font-size: 1.25rem;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            padding: 1.25rem;
            margin-top: 1.25rem;
            
                 &:hover{
                color: white;
                box-shadow: 3px 2px 15px;  
                } 
        }
    }    
 }
}
}
