
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    background-color: yellow;
}

