 body{
  background: white;
  transition: .3s ese all;

      &.dark {
      background: black;
        }
       }
 
      .seccionUno-container{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 100%;
           
               .reloj-container{
              display: flex ;
              justify-content: center;
              align-items: center;
              padding: 30px;
              margin-top: 20px;
              
                .fecha{
                 padding-bottom: 20px;
               font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
               font-size: 15px;
                  letter-spacing: 0.2em;
                  color: grey;
               position: absolute;
                       }
                   .tiempo{
                    padding-top: 30px;
                      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                      font-size: 15px;
                         letter-spacing: 0.2em;
                         color: blue;
                      position: absolute;     
                   }
          }
               #contenedor{
                justify-content: center;
                align-items: center;
                text-align: center;
                h1{
           font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          font-size: 30px;
          color:orange ;
                }
               h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        margin: 30px;
        padding: 30px;
        color: rgb(173, 171, 171);
               }
              }
            }
            #contenedorPublicidades{
              width: 100%;
              height: 100vh;
              display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 90px;
  margin: 30px;
}
            .card{
             
            width: 100%;
            height: 100vh; 
            border:  1px solid grey;
            border-radius: 10px;
            box-shadow: 2px 2px 5px blue;     
            padding: 20px;
            margin:  20px 20px;
            button{
              padding: 12px;
              margin-top: 20px;
              color: yellow;
              background: blue;
              border-radius: 5px;
            }
            h2{
              padding-top: 30px;
              justify-content: center;
              text-align: center;
              font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }   
      
    
      .cotizadorMonedas{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 80vh;
        padding-top: 20px;
        background-color: rgb(237, 188, 13);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 1.625rem;
        margin: 30px;
              h1{
            font-size: 20px;
            
                 }

                  .formulario{
        padding:30px 40px 50px;      
        width: 100%;
        max-width: 80%;
        background-color: rgb(4, 4, 58);
        text-align: center;
        border-radius: 1.625rem;
        font-size: 20px;
        color: azure;
        margin: 20px;
                  .group-input{
                
                    li{
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 3px;
                border: 1px solid #FFD700;
                border-radius: 5px;  
              border-bottom: 3px 4px;  
            }
          }

         }
       }
    
